{%if portSet == False %}
    <div align="center"><h4>No port to monitor</h4></div>
{%else%}
    <!--Avatar List-->
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <table class="table table-striped">
            {{portSet.management_form}}
            <thead>
            <tr>
                {%with portSet|first as form%}
                    {%for field in form.visible_fields%}
                        <th>{{field.label_tag}}</th>
                    {%endfor%}
                {%endwith%}
            </tr>
            </thead>
            <tbody>
            {%for form in portSet%}
                <tr>
                    {{ form.id }}
                    {%for field in form.visible_fields%}

                        <td>{{field.value}}</td>

                    {%endfor%}

                    <td></td>
                    <td></td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
    <!--End of Avatar List-->
{%endif%}
